*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    font-family: Arial, sans-serif;
    background:linear-gradient(to right ,rgb(58, 58, 58) ,rgb(0, 128, 128) );
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container{
    background-color: white;
    width: 500px;
    border-radius:10px ;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(0, 238, 255);
    
        
}
.container h1{
   margin-bottom: 20px;
   border-bottom:  rgb(128, 128, 128) 0.1px solid;
   color:rgb(155, 25, 18) ;
}

.status p{
    margin-bottom: 20px;
}